[Desktop Action AttachFiles]
Exec=SCRIPT_PATH attachfile %U
Icon=claws-mail
Name=Attach File(s)

[Desktop Action BZipAndAttach]
Exec=SCRIPT_PATH bz2 %U
Icon=claws-mail
Name=Attach as BZip File(s)

[Desktop Action GZipAndAttach]
Exec=SCRIPT_PATH gz %U
Icon=claws-mail
Name=Attach as GZip File(s)

[Desktop Entry]
Actions=AttachFiles;GZipAndAttach;BZipAndAttach;
Comment=kde service menu for compressing and attaching files to Claws Mail
Encoding=UTF8
Icon=
Name=Claws Mail compress and attach files
ServiceTypes=all/allfiles
X-KDE-Priority=TopLevel
X-KDE-Submenu=Claws Mail
