[Desktop Action TarAndAttach]
Exec=SCRIPT_PATH tar %U
Icon=claws-mail
Name=Attach as Tar Archive

[Desktop Action TarBzipAndAttach]
Exec=SCRIPT_PATH tar.bz2 %U
Icon=claws-mail
Name=Attach as Bzipped Tar Archive

[Desktop Action TarGzipAndAttach]
Exec=SCRIPT_PATH tar.gz %U
Icon=claws-mail
Name=Attach as Gzipped Tar Archive

[Desktop Action ZipAndAttach]
Exec=SCRIPT_PATH zip %U
Icon=claws-mail
Name=Attach as Zip Archive

[Desktop Entry]
Actions=TarAndAttach;TarBzipAndAttach;TarGzipAndAttach;ZipAndAttach;
Comment=kde service menu for compressing and attaching files/dirs to Claws Mail
Encoding=UTF8
Icon=
Name=Claws Mail compress and attach files/dirs
ServiceTypes=all/all
X-KDE-Priority=TopLevel
X-KDE-Submenu=Claws Mail
