[Desktop Entry]
Actions=AttachFiles;GZipAndAttach;BZipAndAttach;
Encoding=UTF8
Name=Sylpheed compress and attach files
Comment=kde service menu for compressing and attaching files to Sylpheed
X-KDE-Submenu=Sylpheed-Claws
X-KDE-Priority=TopLevel
ServiceTypes=all/allfiles

[Desktop Action AttachFiles]
Name=Attach File(s)
Name[de]=Datei(en) anhängen
Name[es]=Adjuntar fichero(s)
Name[fr]=Joindre le(s) Fichier(s)
Name[it]=Allega file
Name[pt_BR]=Anexar arquivo(s)
Name[sk]=Pripoji» súbor(y)
Icon=sylpheed-claws
Exec=SCRIPT_PATH attachfile %U

[Desktop Action GZipAndAttach]
Name=Attach as GZip File(s)
Name[de]=Als GZip-Datei(en) anhängen
Name[es]=Adjuntar como fichero(s) comprimido(s) con GZip
Name[fr]=Joindre comme Fichier(s) GZip
Name[it]=Allega come file .gz
Name[pt_BR]=Anexar como arquivo(s) GZip
Name[sk]=Pripoji» ako súbor(y) GZip
Icon=sylpheed-claws
Exec=SCRIPT_PATH gz %U

[Desktop Action BZipAndAttach]
Name=Attach as BZip File(s)
Name[de]=Als BZip-Datei(en) anhängen
Name[es]=Adjuntar como fichero(s) comprimido(s) con BZip
Name[fr]=Joindre comme Fichier(s) Bzip
Name[it]=Allega come file .bz
Name[pt_BR]=Anexar como arquivo(s) BZip
Name[sk]=Pripoji» ako súbor(y) Bzip
Icon=sylpheed-claws
Exec=SCRIPT_PATH bz2 %U
