/ChangeLog
/*.tar.gz
/*.tar.bz2
/aclocal.m4
/autom4te.cache
/claws-mail.pc
/commitHelper.tmp
/confdefs.h
/config.cache
/config/config.guess
/config/config.sub
/config/depcomp
/config.guess
/config.h
/config.h.in
/config/install-sh
/config.log
/config/ltmain.sh
/config/Makefile
/config/Makefile.in
/config/missing
/config/mkinstalldirs
/config.status
/config.sub
/configure
/claws-features.h
/config/ylwrap
/.cproject
/depcomp
/doc/Makefile
/doc/Makefile.in
/doc/man/Makefile
/doc/man/Makefile.in
/libtool
/ltmain.sh
/m4/codeset.m4
/m4/gettext.m4
/m4/glibc21.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/inttypes_h.m4
/m4/inttypes.m4
/m4/inttypes-pri.m4
/m4/isc-posix.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/Makefile
/m4/Makefile.in
/m4/nls.m4
/m4/po.m4
/m4/progtest.m4
/m4/stdint_h.m4
/m4/uintmax_t.m4
/m4/ulongulong.m4
/Makefile
/Makefile.in
/manual/de/dist/claws-mail-manual.*
/manual/de/dist/html/claws-mail-manual.*
/manual/de/dist/html/Makefile
/manual/de/dist/html/Makefile.in
/manual/de/dist/Makefile
/manual/de/dist/Makefile.in
/manual/de/dist/pdf/claws-mail-manual.*
/manual/de/dist/pdf/Makefile
/manual/de/dist/pdf/Makefile.in
/manual/de/dist/ps/claws-mail-manual.*
/manual/de/dist/ps/Makefile
/manual/de/dist/ps/Makefile.in
/manual/de/dist/txt/claws-mail-manual.*
/manual/de/dist/txt/Makefile
/manual/de/dist/txt/Makefile.in
/manual/de/Makefile
/manual/de/Makefile.in
/manual/dist/claws-mail-manual.*
/manual/dist/html/claws-mail-manual.*
/manual/dist/html/Makefile
/manual/dist/html/Makefile.in
/manual/dist/Makefile
/manual/dist/Makefile.in
/manual/dist/pdf/claws-mail-manual.*
/manual/dist/pdf/Makefile
/manual/dist/pdf/Makefile.in
/manual/dist/ps/claws-mail-manual.*
/manual/dist/ps/Makefile
/manual/dist/ps/Makefile.in
/manual/dist/txt/claws-mail-manual.*
/manual/dist/txt/Makefile
/manual/dist/txt/Makefile.in
/manual/dtd/Makefile
/manual/dtd/Makefile.in
/manual/es/dist/claws-mail-manual.*
/manual/es/dist/html/claws-mail-manual.*
/manual/es/dist/html/Makefile
/manual/es/dist/html/Makefile.in
/manual/es/dist/Makefile
/manual/es/dist/Makefile.in
/manual/es/dist/pdf/claws-mail-manual.*
/manual/es/dist/pdf/Makefile
/manual/es/dist/pdf/Makefile.in
/manual/es/dist/ps/claws-mail-manual.*
/manual/es/dist/ps/Makefile
/manual/es/dist/ps/Makefile.in
/manual/es/dist/txt/claws-mail-manual.*
/manual/es/dist/txt/Makefile
/manual/es/dist/txt/Makefile.in
/manual/es/Makefile
/manual/es/Makefile.in
/manual/fr/dist/claws-mail-manual.*
/manual/fr/dist/html/claws-mail-manual.*
/manual/fr/dist/html/Makefile
/manual/fr/dist/html/Makefile.in
/manual/fr/dist/Makefile
/manual/fr/dist/Makefile.in
/manual/fr/dist/pdf/claws-mail-manual.*
/manual/fr/dist/pdf/Makefile
/manual/fr/dist/pdf/Makefile.in
/manual/fr/dist/ps/claws-mail-manual.*
/manual/fr/dist/ps/Makefile
/manual/fr/dist/ps/Makefile.in
/manual/fr/dist/txt/claws-mail-manual.*
/manual/fr/dist/txt/Makefile
/manual/fr/dist/txt/Makefile.in
/manual/fr/Makefile
/manual/fr/Makefile.in
/manual/Makefile
/manual/Makefile.in
/manual/pl/dist/claws-mail-manual.*
/manual/pl/dist/html/claws-mail-manual.*
/manual/pl/dist/html/Makefile
/manual/pl/dist/html/Makefile.in
/manual/pl/dist/Makefile
/manual/pl/dist/Makefile.in
/manual/pl/dist/pdf/claws-mail-manual.*
/manual/pl/dist/pdf/Makefile
/manual/pl/dist/pdf/Makefile.in
/manual/pl/dist/ps/claws-mail-manual.*
/manual/pl/dist/ps/Makefile
/manual/pl/dist/ps/Makefile.in
/manual/pl/dist/txt/claws-mail-manual.*
/manual/pl/dist/txt/Makefile
/manual/pl/dist/txt/Makefile.in
/manual/pl/Makefile
/manual/pl/Makefile.in
/patches
/*.patchset
/po/boldquot.sed
/po/claws-mail.pot
/po/en@boldquot.header
/po/en@quot.header
/po/*.gmo
/po/insert-header.sin
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/*.po~
/po/POTFILES
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/Rules-quot
/po/sylpheed.pot
/.project
/.settings
/src/claws-mail
/src/client-bindings.h
/src/common/.deps
/src/common/*.la
/src/common/.libs
/src/common/*.lo
/src/common/Makefile
/src/common/Makefile.in
/src/common/*.o
/src/common/passcrypt.h
/src/common/version.h
/src/.deps
/src/etpan/.deps
/src/etpan/*.la
/src/etpan/.libs
/src/etpan/*.lo
/src/etpan/*.loT
/src/etpan/Makefile
/src/etpan/Makefile.in
/src/etpan/*.o
/src/gtk/claws-marshal.c
/src/gtk/claws-marshal.h
/src/gtk/.deps
/src/gtk/*.la
/src/gtk/.libs
/src/gtk/*.lo
/src/gtk/Makefile
/src/gtk/Makefile.in
/src/gtk/*.o
/src/.libs
/src/Makefile
/src/Makefile.in
/src/*.o
/src/Makefile
/src/Makefile.in
/src/matcher_parser_lex.c
/src/matcher_parser_parse.c
/src/matcher_parser_parse.h
/src/plugins/acpi_notifier/.deps
/src/plugins/acpi_notifier/*.la
/src/plugins/acpi_notifier/.libs
/src/plugins/acpi_notifier/*.lo
/src/plugins/acpi_notifier/Makefile
/src/plugins/acpi_notifier/Makefile.in
/src/plugins/acpi_notifier/*.o
/src/plugins/address_keeper/.deps
/src/plugins/address_keeper/*.la
/src/plugins/address_keeper/.libs
/src/plugins/address_keeper/*.lo
/src/plugins/address_keeper/Makefile
/src/plugins/address_keeper/Makefile.in
/src/plugins/address_keeper/*.o
/src/plugins/archive/.deps
/src/plugins/archive/*.la
/src/plugins/archive/.libs
/src/plugins/archive/*.lo
/src/plugins/archive/Makefile
/src/plugins/archive/Makefile.in
/src/plugins/archive/*.o
/src/plugins/attachwarner/.deps
/src/plugins/attachwarner/*.la
/src/plugins/attachwarner/.libs
/src/plugins/attachwarner/*.lo
/src/plugins/attachwarner/Makefile
/src/plugins/attachwarner/Makefile.in
/src/plugins/attachwarner/*.o
/src/plugins/att_remover/.deps
/src/plugins/att_remover/*.la
/src/plugins/att_remover/.libs
/src/plugins/att_remover/*.lo
/src/plugins/att_remover/Makefile
/src/plugins/att_remover/Makefile.in
/src/plugins/att_remover/*.o
/src/plugins/bogofilter/.deps
/src/plugins/bogofilter/*.la
/src/plugins/bogofilter/.libs
/src/plugins/bogofilter/*.lo
/src/plugins/bogofilter/*.loT
/src/plugins/bogofilter/Makefile
/src/plugins/bogofilter/Makefile.in
/src/plugins/bogofilter/*.o
/src/plugins/bsfilter/.deps
/src/plugins/bsfilter/*.la
/src/plugins/bsfilter/.libs
/src/plugins/bsfilter/*.lo
/src/plugins/bsfilter/Makefile
/src/plugins/bsfilter/Makefile.in
/src/plugins/bsfilter/*.o
/src/plugins/clamd/.deps
/src/plugins/clamd/*.la
/src/plugins/clamd/libclamd/.deps
/src/plugins/clamd/libclamd/*.la
/src/plugins/clamd/libclamd/.libs
/src/plugins/clamd/libclamd/*.lo
/src/plugins/clamd/libclamd/Makefile
/src/plugins/clamd/libclamd/Makefile.in
/src/plugins/clamd/libclamd/*.o
/src/plugins/clamd/.libs
/src/plugins/clamd/*.lo
/src/plugins/clamd/Makefile
/src/plugins/clamd/Makefile.in
/src/plugins/clamd/*.o
/src/plugins/demo/.deps
/src/plugins/demo/*.la
/src/plugins/demo/.libs
/src/plugins/demo/*.lo
/src/plugins/demo/Makefile
/src/plugins/demo/Makefile.in
/src/plugins/demo/*.o
/src/plugins/fancy/.deps
/src/plugins/fancy/*.la
/src/plugins/fancy/.libs
/src/plugins/fancy/*.lo
/src/plugins/fancy/Makefile
/src/plugins/fancy/Makefile.in
/src/plugins/fancy/*.o
/src/plugins/fetchinfo/.deps
/src/plugins/fetchinfo/*.la
/src/plugins/fetchinfo/.libs
/src/plugins/fetchinfo/*.lo
/src/plugins/fetchinfo/Makefile
/src/plugins/fetchinfo/Makefile.in
/src/plugins/fetchinfo/*.o
/src/plugins/gdata/.deps
/src/plugins/gdata/*.la
/src/plugins/gdata/.libs
/src/plugins/gdata/*.lo
/src/plugins/gdata/Makefile
/src/plugins/gdata/Makefile.in
/src/plugins/gdata/*.o
/src/plugins/mailmbox/.deps
/src/plugins/mailmbox/*.la
/src/plugins/mailmbox/.libs
/src/plugins/mailmbox/*.lo
/src/plugins/mailmbox/Makefile
/src/plugins/mailmbox/Makefile.in
/src/plugins/mailmbox/*.o
/src/plugins/Makefile
/src/plugins/Makefile.in
/src/plugins/newmail/.deps
/src/plugins/newmail/*.la
/src/plugins/newmail/.libs
/src/plugins/newmail/*.lo
/src/plugins/newmail/Makefile
/src/plugins/newmail/Makefile.in
/src/plugins/newmail/*.o
/src/plugins/notification/.deps
/src/plugins/notification/gtkhotkey/.deps
/src/plugins/notification/gtkhotkey/*.la
/src/plugins/notification/gtkhotkey/.libs
/src/plugins/notification/gtkhotkey/*.lo
/src/plugins/notification/gtkhotkey/Makefile
/src/plugins/notification/gtkhotkey/Makefile.in
/src/plugins/notification/gtkhotkey/*.o
/src/plugins/notification/gtkhotkey/x11/.deps
/src/plugins/notification/gtkhotkey/x11/*.la
/src/plugins/notification/gtkhotkey/x11/.libs
/src/plugins/notification/gtkhotkey/x11/*.lo
/src/plugins/notification/gtkhotkey/x11/Makefile
/src/plugins/notification/gtkhotkey/x11/Makefile.in
/src/plugins/notification/gtkhotkey/x11/*.o
/src/plugins/notification/*.la
/src/plugins/notification/.libs
/src/plugins/notification/*.lo
/src/plugins/notification/Makefile
/src/plugins/notification/Makefile.in
/src/plugins/notification/*.o
/src/plugins/pdf_viewer/.deps
/src/plugins/pdf_viewer/*.la
/src/plugins/pdf_viewer/.libs
/src/plugins/pdf_viewer/*.lo
/src/plugins/pdf_viewer/Makefile
/src/plugins/pdf_viewer/Makefile.in
/src/plugins/pdf_viewer/*.o
/src/plugins/perl/.deps
/src/plugins/perl/*.la
/src/plugins/perl/.libs
/src/plugins/perl/*.lo
/src/plugins/perl/Makefile
/src/plugins/perl/Makefile.in
/src/plugins/perl/*.o
/src/plugins/perl/tools/Makefile
/src/plugins/perl/tools/Makefile.in
/src/plugins/pgpcore/.deps
/src/plugins/pgpcore/*.la
/src/plugins/pgpcore/.libs
/src/plugins/pgpcore/*.lo
/src/plugins/pgpcore/Makefile
/src/plugins/pgpcore/Makefile.in
/src/plugins/pgpcore/*.o
/src/plugins/pgpinline/.deps
/src/plugins/pgpinline/*.la
/src/plugins/pgpinline/.libs
/src/plugins/pgpinline/*.lo
/src/plugins/pgpinline/Makefile
/src/plugins/pgpinline/Makefile.in
/src/plugins/pgpinline/*.o
/src/plugins/pgpmime/.deps
/src/plugins/pgpmime/*.la
/src/plugins/pgpmime/.libs
/src/plugins/pgpmime/*.lo
/src/plugins/pgpmime/Makefile
/src/plugins/pgpmime/Makefile.in
/src/plugins/pgpmime/*.o
/src/plugins/python/.deps
/src/plugins/python/*.la
/src/plugins/python/.libs
/src/plugins/python/*.lo
/src/plugins/python/Makefile
/src/plugins/python/Makefile.in
/src/plugins/python/*.o
/src/plugins/rssyl/.deps
/src/plugins/rssyl/*.la
/src/plugins/rssyl/.libs
/src/plugins/rssyl/*.lo
/src/plugins/rssyl/Makefile
/src/plugins/rssyl/Makefile.in
/src/plugins/rssyl/*.o
/src/plugins/smime/.deps
/src/plugins/smime/*.la
/src/plugins/smime/.libs
/src/plugins/smime/*.lo
/src/plugins/smime/*.loT
/src/plugins/smime/Makefile
/src/plugins/smime/Makefile.in
/src/plugins/smime/*.o
/src/plugins/spamassassin/.deps
/src/plugins/spamassassin/*.la
/src/plugins/spamassassin/.libs
/src/plugins/spamassassin/*.lo
/src/plugins/spamassassin/*.loT
/src/plugins/spamassassin/Makefile
/src/plugins/spamassassin/Makefile.in
/src/plugins/spamassassin/*.o
/src/plugins/spam_report/.deps
/src/plugins/spam_report/*.la
/src/plugins/spam_report/.libs
/src/plugins/spam_report/*.lo
/src/plugins/spam_report/Makefile
/src/plugins/spam_report/Makefile.in
/src/plugins/spam_report/*.o
/src/plugins/tnef_parse/.deps
/src/plugins/tnef_parse/*.la
/src/plugins/tnef_parse/.libs
/src/plugins/tnef_parse/*.lo
/src/plugins/tnef_parse/Makefile
/src/plugins/tnef_parse/Makefile.in
/src/plugins/tnef_parse/*.o
/src/plugins/vcalendar/.deps
/src/plugins/vcalendar/*.la
/src/plugins/vcalendar/libical/.deps
/src/plugins/vcalendar/libical/design-data/.deps
/src/plugins/vcalendar/libical/design-data/*.la
/src/plugins/vcalendar/libical/design-data/.libs
/src/plugins/vcalendar/libical/design-data/*.lo
/src/plugins/vcalendar/libical/design-data/Makefile
/src/plugins/vcalendar/libical/design-data/Makefile.in
/src/plugins/vcalendar/libical/*.la
/src/plugins/vcalendar/libical/libical/.deps
/src/plugins/vcalendar/libical/libical/icalderivedparameter.c
/src/plugins/vcalendar/libical/libical/icalderivedparameter.h
/src/plugins/vcalendar/libical/libical/icalderivedproperty.c
/src/plugins/vcalendar/libical/libical/icalderivedproperty.h
/src/plugins/vcalendar/libical/libical/icalderivedvalue.c
/src/plugins/vcalendar/libical/libical/icalderivedvalue.h
/src/plugins/vcalendar/libical/libical/ical.h
/src/plugins/vcalendar/libical/libical/icallexer.c
/src/plugins/vcalendar/libical/libical/icalrestriction.c
/src/plugins/vcalendar/libical/libical/icalversion.h
/src/plugins/vcalendar/libical/libical/icalyacc.c
/src/plugins/vcalendar/libical/libical/icalyacc.h
/src/plugins/vcalendar/libical/libical/icalyacc.output
/src/plugins/vcalendar/libical/libical/*.la
/src/plugins/vcalendar/libical/libical/.libs
/src/plugins/vcalendar/libical/libical/*.lo
/src/plugins/vcalendar/libical/libical/*.o
/src/plugins/vcalendar/libical/libical/Makefile
/src/plugins/vcalendar/libical/libical/Makefile.in
/src/plugins/vcalendar/libical/libicalss/.deps
/src/plugins/vcalendar/libical/libicalss/*.la
/src/plugins/vcalendar/libical/libicalss/.libs
/src/plugins/vcalendar/libical/libicalss/*.lo
/src/plugins/vcalendar/libical/libicalss/Makefile
/src/plugins/vcalendar/libical/libicalss/Makefile.in
/src/plugins/vcalendar/libical/libicalss/*.o
/src/plugins/vcalendar/libical/libicalvcal/.deps
/src/plugins/vcalendar/libical/libicalvcal/*.la
/src/plugins/vcalendar/libical/libicalvcal/.libs
/src/plugins/vcalendar/libical/libicalvcal/*.lo
/src/plugins/vcalendar/libical/libicalvcal/Makefile
/src/plugins/vcalendar/libical/libicalvcal/Makefile.in
/src/plugins/vcalendar/libical/libicalvcal/*.o
/src/plugins/vcalendar/libical/.libs
/src/plugins/vcalendar/libical/*.lo
/src/plugins/vcalendar/libical/Makefile
/src/plugins/vcalendar/libical/Makefile.in
/src/plugins/vcalendar/libical/scripts/.deps
/src/plugins/vcalendar/libical/scripts/*.la
/src/plugins/vcalendar/libical/scripts/.libs
/src/plugins/vcalendar/libical/scripts/*.lo
/src/plugins/vcalendar/libical/scripts/Makefile
/src/plugins/vcalendar/libical/scripts/Makefile.in
/src/plugins/vcalendar/.libs
/src/plugins/vcalendar/*.lo
/src/plugins/vcalendar/Makefile
/src/plugins/vcalendar/Makefile.in
/src/plugins/vcalendar/*.o
/src/quote_fmt_lex.c
/src/quote_fmt_parse.c
/src/quote_fmt_parse.h
/src/*.swp
/src/tags
/src/TAGS
/src/ylwrap
/stamp-h
/stamp-h1
/stamp-h2
/stamp-h.in
/*.swp
/tags
/TAGS
/tools/Makefile
/tools/Makefile.in
/version
