.deps
.libs
*.la
*.lo
*.loT
*.o
*.swp
Makefile
Makefile.in
/ChangeLog
/*.tar.gz
/*.tar.bz2
/aclocal.m4
/autom4te.cache
/claws-mail.pc
/confdefs.h
/config.cache
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config.guess
/config.h
/config.h.in
/config/install-sh
/config.log
/config/ltmain.sh
/config/missing
/config/mkinstalldirs
/config.status
/config.sub
/configure
/claws-features.h
/claws-mail.appdata.xml
/claws-mail.desktop
/config/ylwrap
/.cproject
/depcomp
/libtool
/ltmain.sh
/m4/codeset.m4
/m4/gettext.m4
/m4/glibc21.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/inttypes_h.m4
/m4/inttypes.m4
/m4/inttypes-pri.m4
/m4/isc-posix.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/nls.m4
/m4/po.m4
/m4/progtest.m4
/m4/stdint_h.m4
/m4/uintmax_t.m4
/m4/ulongulong.m4
/m4/intltool.m4
/manual/*/dist/claws-mail-manual.*
/manual/*/dist/html/claws-mail-manual.*
/manual/*/dist/pdf/claws-mail-manual.*
/manual/*/dist/ps/claws-mail-manual.*
/manual/*/dist/txt/claws-mail-manual.*
/manual/dist/claws-mail-manual.*
/manual/dist/html/claws-mail-manual.*
/manual/dist/pdf/claws-mail-manual.*
/manual/dist/ps/claws-mail-manual.*
/manual/dist/txt/claws-mail-manual.*
/patches
/*.patchset
/po/boldquot.sed
/po/claws-mail.pot
/po/en@boldquot.header
/po/en@quot.header
/po/*.gmo
/po/insert-header.sin
/po/Makefile.in.in
/po/Makevars.template
/po/*.po~
/po/stamp-it
/po/.intltool-merge-cache
/po/POTFILES
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/Rules-quot
/.project
/.settings
/src/claws-mail
/src/client-bindings.h
/src/common/passcrypt.h
/src/common/version.h
/src/gtk/claws-marshal.c
/src/gtk/claws-marshal.h
/src/matcher_parser_lex.c
/src/matcher_parser_parse.c
/src/matcher_parser_parse.h
/src/plugins/notification/gtkhotkey/x11/.dirstamp
/src/plugins/vcalendar/libical/libical/icalderivedparameter.c
/src/plugins/vcalendar/libical/libical/icalderivedparameter.h
/src/plugins/vcalendar/libical/libical/icalderivedproperty.c
/src/plugins/vcalendar/libical/libical/icalderivedproperty.h
/src/plugins/vcalendar/libical/libical/icalderivedvalue.c
/src/plugins/vcalendar/libical/libical/icalderivedvalue.h
/src/plugins/vcalendar/libical/libical/ical.h
/src/plugins/vcalendar/libical/libical/icallexer.c
/src/plugins/vcalendar/libical/libical/icalrestriction.c
/src/plugins/vcalendar/libical/libical/icalversion.h
/src/plugins/vcalendar/libical/libical/icalyacc.c
/src/plugins/vcalendar/libical/libical/icalyacc.h
/src/plugins/vcalendar/libical/libical/icalyacc.output
/src/quote_fmt_lex.c
/src/quote_fmt_parse.c
/src/quote_fmt_parse.h
/src/tags
/src/TAGS
/src/ylwrap
/stamp-h
/stamp-h1
/stamp-h2
/stamp-h.in
/tags
/TAGS
/version
/src/plugins/acpi_notifier/claws-mail-acpi_notifier.metainfo.xml
/src/plugins/address_keeper/claws-mail-address_keeper.metainfo.xml
/src/plugins/archive/claws-mail-archive.metainfo.xml
/src/plugins/att_remover/claws-mail-att_remover.metainfo.xml
/src/plugins/attachwarner/claws-mail-attachwarner.metainfo.xml
/src/plugins/bsfilter/claws-mail-bsfilter.metainfo.xml
/src/plugins/clamd/claws-mail-clamd.metainfo.xml
/src/plugins/fancy/claws-mail-fancy.metainfo.xml
/src/plugins/fetchinfo/claws-mail-fetchinfo.metainfo.xml
/src/plugins/gdata/claws-mail-gdata.metainfo.xml
/src/plugins/geolocation/claws-mail-geolocation.metainfo.xml
/src/plugins/libravatar/claws-mail-libravatar.metainfo.xml
/src/plugins/mailmbox/claws-mail-mailmbox.metainfo.xml
/src/plugins/newmail/claws-mail-newmail.metainfo.xml
/src/plugins/notification/claws-mail-notification.metainfo.xml
/src/plugins/pdf_viewer/claws-mail-pdf_viewer.metainfo.xml
/src/plugins/perl/claws-mail-perl.metainfo.xml
/src/plugins/pgpcore/claws-mail-pgpcore.metainfo.xml
/src/plugins/pgpinline/claws-mail-pgpinline.metainfo.xml
/src/plugins/pgpmime/claws-mail-pgpmime.metainfo.xml
/src/plugins/python/claws-mail-python.metainfo.xml
/src/plugins/rssyl/claws-mail-rssyl.metainfo.xml
/src/plugins/smime/claws-mail-smime.metainfo.xml
/src/plugins/spam_report/claws-mail-spam_report.metainfo.xml
/src/plugins/spamassassin/claws-mail-spamassasin.metainfo.xml
/src/plugins/tnef_parse/claws-mail-tnef_parse.metainfo.xml
/src/plugins/vcalendar/claws-mail-vcalendar.metainfo.xml

