[Desktop Entry]
Encoding=UTF-8
Name=Claws Mail
Exec=claws-mail
Icon=claws-mail.png
Info="Claws Mail"
Categories=GTK;Network;Email;
Comment="Gtk+ based Mail Client"
Terminal=false
Type=Application
StartupNotify=true
