[Desktop Entry]
Encoding=UTF-8
Name=Sylpheed-Claws
Exec=sylpheed-claws
Icon=sylpheed-claws.png
Info="Sylpheed-Claws"
Categories=GTK;Network;Email;
Comment="Gtk+ based Mail Client"
Terminal=false
Type=Application
StartupNotify=true
