[Desktop Entry]
Name=Claws Mail
Name[ja]=Claws Mail
Name[es]=Claws Mail
Comment=E-Mail client
Comment[ja]=電子メールクライアント
Comment[es]=Cliente de correo
Exec=claws-mail
Icon=claws-mail.png
Terminal=0
Type=Application
Categories=Application;Network;
StartupNotify=true
