#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

config.status: configure
	dh_testdir
	# Add here commands to configure the package.
	CFLAGS="$(CFLAGS)" ./configure --host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--with-manualdir=\$${prefix}/share/doc/claws-mail/manual \
		--with-faqdir=\$${prefix}/share/doc/claws-mail/faq \
		--enable-openssl \
		--enable-gpgme \
		--enable-ipv6 \
		--enable-aspell \
		--enable-jpilot \
		--enable-ldap \
		--enable-spamassassin-plugin=yes \
		--enable-clamav-plugin=yes \
		--with-config-dir=.claws-mail

build: build-stamp

build-stamp:  config.status
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif


	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/claws-mail.
	$(MAKE) install DESTDIR=$(CURDIR)/debian/claws-mail
	rm -f $(CURDIR)/debian/claws-mail/usr/lib/claws-mail/plugins/*.a
	rm -f $(CURDIR)/debian/claws-mail/usr/lib/claws-mail/plugins/*.la
	#________________________________________[libclaws-mail-dev]__
	mkdir -m 755 -p $(CURDIR)/debian/libclaws-mail-dev/usr/lib/pkgconfig
	mv $(CURDIR)/debian/claws-mail/usr/include \
	    $(CURDIR)/debian/libclaws-mail-dev/usr/include
	mv $(CURDIR)/debian/claws-mail/usr/lib/pkgconfig/claws-mail.pc \
	   $(CURDIR)/debian/libclaws-mail-dev/usr/lib/pkgconfig
	#__________________________________________[claws-mail-i18n]__
	mkdir -m 755 -p $(CURDIR)/debian/claws-mail-i18n/usr/share/locale
	mv $(CURDIR)/debian/claws-mail/usr/share/locale/* \
	   $(CURDIR)/debian/claws-mail-i18n/usr/share/locale
	#________________________________________[claws-mail-clamav]__
	mkdir -m 755 -p \
	     $(CURDIR)/debian/claws-mail-clamav/usr/lib/claws-mail/plugins
	mv $(CURDIR)/debian/claws-mail/usr/lib/claws-mail/plugins/clamav* \
	   $(CURDIR)/debian/claws-mail-clamav/usr/lib/claws-mail/plugins
	#__________________________________[claws-mail-dillo-viewer]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/claws-mail-dillo-viewer/usr/lib/claws-mail/plugins
	mv $(CURDIR)/debian/claws-mail/usr/lib/claws-mail/plugins/dillo* \
	   $(CURDIR)/debian/claws-mail-dillo-viewer/usr/lib/claws-mail/plugins
	#__________________________________[claws-mail-spamassassin]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/claws-mail-spamassassin/usr/lib/claws-mail/plugins
	mv $(CURDIR)/debian/claws-mail/usr/lib/claws-mail/plugins/spamassassin* \
	   $(CURDIR)/debian/claws-mail-spamassassin/usr/lib/claws-mail/plugins
	#______________________________________[claws-mail-trayicon]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/claws-mail-trayicon/usr/lib/claws-mail/plugins
	mv $(CURDIR)/debian/claws-mail/usr/lib/claws-mail/plugins/trayicon* \
	   $(CURDIR)/debian/claws-mail-trayicon/usr/lib/claws-mail/plugins
	#_______________________________________[claws-mail-pgpmime]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/claws-mail-pgpmime/usr/lib/claws-mail/plugins
	mv $(CURDIR)/debian/claws-mail/usr/lib/claws-mail/plugins/pgpmime.* \
	   $(CURDIR)/debian/claws-mail-pgpmime/usr/lib/claws-mail/plugins
	mv $(CURDIR)/debian/claws-mail/usr/lib/claws-mail/plugins/pgpcore.so \
	   $(CURDIR)/debian/claws-mail-pgpmime/usr/lib/claws-mail/plugins
	#_____________________________________[claws-mail-pgpinline]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/claws-mail-pgpinline/usr/lib/claws-mail/plugins
	mv $(CURDIR)/debian/claws-mail/usr/lib/claws-mail/plugins/pgpinline.* \
	   $(CURDIR)/debian/claws-mail-pgpinline/usr/lib/claws-mail/plugins
	#_______________________________________________[claws-mail]__
	# application icons
	mkdir -m 755 -p \
	   $(CURDIR)/debian/claws-mail/usr/share/pixmaps/
	cp $(CURDIR)/sylpheed*.png \
	   $(CURDIR)/debian/claws-mail/usr/share/pixmaps/
	# desktop entry
	mkdir -m 755 -p \
	   $(CURDIR)/debian/claws-mail/usr/share/applications
	cp $(CURDIR)/debian/claws-mail.desktop \
	   $(CURDIR)/debian/claws-mail/usr/share/applications/claws-mail.desktop

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_installmenu
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
