#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

config.status: configure
	dh_testdir
	# Add here commands to configure the package.
	CFLAGS="$(CFLAGS)" ./configure --host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--with-manualdir=\$${prefix}/share/doc/sylpheed-doc/manual \
		--with-faqdir=\$${prefix}/share/doc/sylpheed-doc/faq \
		--enable-openssl \
		--enable-gpgme \
		--enable-ipv6 \
		--enable-aspell \
		--enable-jpilot \
		--enable-ldap \
		--enable-spamassassin-plugin=yes \
		--enable-clamav-plugin=yes \
		--with-config-dir=.sylpheed-claws

build: build-stamp

build-stamp:  config.status
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif


	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/sylpheed-claws.
	$(MAKE) install DESTDIR=$(CURDIR)/debian/sylpheed-claws
	rm -rf $(CURDIR)/debian/sylpheed-claws/usr/share/doc/sylpheed-doc
	rm -f $(CURDIR)/debian/sylpheed-claws/usr/lib/sylpheed-claws/plugins/*.a
	rm -f $(CURDIR)/debian/sylpheed-claws/usr/lib/sylpheed-claws/plugins/*.la
	#________________________________________[libsylpheed-claws-dev]__
	mkdir -m 755 -p $(CURDIR)/debian/libsylpheed-claws-dev/usr/lib/pkgconfig
	mv $(CURDIR)/debian/sylpheed-claws/usr/include \
	    $(CURDIR)/debian/libsylpheed-claws-dev/usr/include
	mv $(CURDIR)/debian/sylpheed-claws/usr/lib/pkgconfig/sylpheed-claws.pc \
	   $(CURDIR)/debian/libsylpheed-claws-dev/usr/lib/pkgconfig
	#__________________________________________[sylpheed-claws-i18n]__
	mkdir -m 755 -p $(CURDIR)/debian/sylpheed-claws-i18n/usr/share/locale
	mv $(CURDIR)/debian/sylpheed-claws/usr/share/locale/* \
	   $(CURDIR)/debian/sylpheed-claws-i18n/usr/share/locale
	#________________________________________[sylpheed-claws-clamav]__
	mkdir -m 755 -p \
	     $(CURDIR)/debian/sylpheed-claws-clamav/usr/lib/sylpheed-claws/plugins
	mv $(CURDIR)/debian/sylpheed-claws/usr/lib/sylpheed-claws/plugins/clamav* \
	   $(CURDIR)/debian/sylpheed-claws-clamav/usr/lib/sylpheed-claws/plugins
	#__________________________________[sylpheed-claws-dillo-viewer]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/sylpheed-claws-dillo-viewer/usr/lib/sylpheed-claws/plugins
	mv $(CURDIR)/debian/sylpheed-claws/usr/lib/sylpheed-claws/plugins/dillo* \
	   $(CURDIR)/debian/sylpheed-claws-dillo-viewer/usr/lib/sylpheed-claws/plugins
	#__________________________________[sylpheed-claws-spamassassin]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/sylpheed-claws-spamassassin/usr/lib/sylpheed-claws/plugins
	mv $(CURDIR)/debian/sylpheed-claws/usr/lib/sylpheed-claws/plugins/spamassassin* \
	   $(CURDIR)/debian/sylpheed-claws-spamassassin/usr/lib/sylpheed-claws/plugins
	#______________________________________[sylpheed-claws-trayicon]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/sylpheed-claws-trayicon/usr/lib/sylpheed-claws/plugins
	mv $(CURDIR)/debian/sylpheed-claws/usr/lib/sylpheed-claws/plugins/trayicon* \
	   $(CURDIR)/debian/sylpheed-claws-trayicon/usr/lib/sylpheed-claws/plugins
	#_______________________________________[sylpheed-claws-pgpmime]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/sylpheed-claws-pgpmime/usr/lib/sylpheed-claws/plugins
	mv $(CURDIR)/debian/sylpheed-claws/usr/lib/sylpheed-claws/plugins/pgpmime.* \
	   $(CURDIR)/debian/sylpheed-claws-pgpmime/usr/lib/sylpheed-claws/plugins
	mv $(CURDIR)/debian/sylpheed-claws/usr/lib/sylpheed-claws/plugins/pgpcore.so \
	   $(CURDIR)/debian/sylpheed-claws-pgpmime/usr/lib/sylpheed-claws/plugins
	#_____________________________________[sylpheed-claws-pgpinline]__
	mkdir -m 755 -p \
	      $(CURDIR)/debian/sylpheed-claws-pgpinline/usr/lib/sylpheed-claws/plugins
	mv $(CURDIR)/debian/sylpheed-claws/usr/lib/sylpheed-claws/plugins/pgpinline.* \
	   $(CURDIR)/debian/sylpheed-claws-pgpinline/usr/lib/sylpheed-claws/plugins
	#_______________________________________________[sylpheed-claws]__
	# application icons
	mkdir -m 755 -p \
	   $(CURDIR)/debian/sylpheed-claws/usr/share/pixmaps/
	cp $(CURDIR)/sylpheed*.png \
	   $(CURDIR)/debian/sylpheed-claws/usr/share/pixmaps/
	# desktop entry
	mkdir -m 755 -p \
	   $(CURDIR)/debian/sylpheed-claws/usr/share/applications
	cp $(CURDIR)/debian/sylpheed-claws.desktop \
	   $(CURDIR)/debian/sylpheed-claws/usr/share/applications/sylpheed-claws.desktop

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_installmenu
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
