[Desktop Entry]
Name=Sylpheed Claws
Name[ja]=Sylpheed Claws
Name[es]=Sylpheed Claws
Comment=E-Mail client
Comment[ja]=電子メールクライアント
Comment[es]=Cliente de correo
Exec=sylpheed-claws
Icon=sylpheed-claws.png
Terminal=0
Type=Application
Categories=Application;Network;
StartupNotify=true
