#
# sylprint.rc - Sylprint User Configuration File
#
# Modify here the values assigned to the variables to reflect 
# your personal default preferences. Some of the values can 
# still be changed from the command line options if required.
# This file must have exec permissions set and be located in
# sylprint.pl directory and/or ~/.claws-mail to be used.   
#
# (c) 2001 by Ricardo Mones Lastra <mones@aic.uniovi.es>
# This program is released under the GNU General Public License.
# See README.sylprint file for details and usage.
#
          
#############################################################
# binaries location in your harddisk
#############################################################

# Uncomment this if you have enscript in a location which
# is not in your PATH.
#
#$ENS='/usr/bin/enscript';

# Printing command for text only output, uncomment and set
# the right full path if lpr is not in your PATH.
#
#$LPR='/usr/bin/lpr';

# PostScript previewer, gv by default, automagically
# guessed, uncomment this if gv is not in your PATH or
# you want to use another ps viewer.
#
#$GPR='/usr/local/bin/gv';

# Text previewer, gless by default :-) and guessed.
# Uncomment one and/or modify for using others. 
# Remember to launch your preferred text lister 
# in a *term if is a text program, as in the examples.
# The file name of the temporary preview file will be
# the last parameter passed to the command you set here.
#
#$TPR='vim -g -R -f';
#$TPR='xterm -e less';
#$TPR='/usr/bin/nedit';

#############################################################
# enscript related options
#############################################################

# The format of the header of the page added by enscript.
# Set to '' to disable header printing.
# Default value is '|%W|$%/$=' 
# (centered <date>, <pagenumber>/<totalpages> on the left).
#
$headerformat = '|%W|$%/$=';

# Size of the media lying on your's printer paper feeder.
# legal values are 'A4', 'Letter', etc.
# run "enscript --list-media" to see all possible values.
#
$papersize = 'A4';

# Charset for mail encoding. Default value is 'latin1'.
# Other possibilities: 'latin2', 'koi8', 'greek' and many
# more (but not all :-(. See enscript manpage.
#
$encoding = 'latin1';

# Font for the enscript generated page header. Useless
# unless $headerformat is set. Default is 'Times-Roman@11'.
# Number is font size in points.
#
$pageheaderfont = 'Times-Roman@11';

# Font for mail text (headers and body). 
# Default value is 'Courier@9/13'. First number is width
# and second is height (both in points).
#
$mailfont = 'Courier@9/13';

#############################################################
# processing options
#############################################################

# The name of the printer for printing mails.
# Default value is 'lp'. Others like 'lp0', 'lp1' may exist
# in your system.
#
$printer = 'lp';

# Set to '' if you don't want a line full of underscores
# separating the mail headers from the body, else set to
# the character you want to separate headers from body.
#
$separator = '_';

# Set to 0 if you dont't want to use enscript at all,
# and then mails will be sent to lpr directly.
#
$usenscript = 1;

# Set to 0 if you don't want the mail header names to be
# translated into your $LANG language.
#
$translate = 1;

# Set to 0 if you don't want mail signatures to be printed.
# Mail signatures are introduced by "--" and a carriage return. 
#
$signature = 1;

# Set to 0 if you don't want to print mail headers (From,
# To, and so on).
#
$headers = 1;

# Set to a quote starting symbol(s) (like '>') to enable
# quoted text removal from mail body. Set to '' to let
# all text be printed.
#
$remquoted = '';

# Set to 1 if you want the mail to be previewed before
# sending to printer.
#
$preview = 0;

# Set to 0 if you don't want to wrap lines in mail body
# or to a higher value to indicate the wrapping column.
# Unwrapped lines may not be printed when using lpr.
# Enscript has it's own cuting, so all text is printed,
# but words are broken at any position without mercy.
#            
$wrapping = 79;

